<!--The content below is only a placeholder and can be replaced.-->
<div class="h-100 row align-items-center">
  <div class="col" >
    
  </div>

  <div class="col card" >
    <div class="card-body align-items-center">
      <div *ngIf="!this.details">
        <h2 class="card-title">Git Viewer!</h2>
        <div class="row">
          <input type="text" (keyup)="onKey($event)" class="col"> <button class="col btn btn-primary" (click)="requestData()">Search git hub for a repo...</button>
        </div>
        <div class="row" *ngIf="this.repos">
          <ul>
            <div *ngFor="let repo of this.repos" ng-click="this.displayDetails($event)">
                <button class="col btn btn-secondary" (click)="displayDetails(repo)">{{repo.name}}</button>
            </div>
          </ul>
        </div>
      </div>
      <div *ngIf="this.details">
          <h2 class="card-title">Repo name - {{this.repo.name}}</h2>
          <h3 class="card-title">Forks     - {{this.repo.forks}}</h3>
          <h3 class="card-title">Open Issue- {{this.repo.open_issues_count}}</h3>
          <a href="{{this.repo.html_url}}">Go to repo!</a>
          <p class="card-title">{{this.repo.readme}}</p>
          <button class="col btn btn-primary" (click)="back()">Back</button>
      </div>
    </div>
  </div>

  <div class="col" >
    
  </div>
</div>
